
.PrivateTabIndicator-colorPrimary-63 {
    background-color: white !important;
  }
  
  .makeStyles-root-1 {
    width: 100% !important;
  }
  
  .MuiTabs-flexContainer {
    background-color: #068460 !important;
  }
  
  .MuiTab-wrapper {
    color: white !important;
    font-size: 1rem;
    font-family: Muli;
    font-weight: 800 !important;
  }